# Pr√°ctica Calificada 3

## Lectura de datos

### Task 1

In [1]:
educationExpenditureLink="https://github.com/CRVCh-16/PC3/raw/refs/heads/main/Education%20expenditures.csv"
electricityLink="https://github.com/CRVCh-16/PC3/raw/refs/heads/main/Electricity%20-%20installed%20generating%20capacity.csv"
energyConsumptionLink="https://github.com/CRVCh-16/PC3/raw/refs/heads/main/Energy%20consumption%20per%20capita.csv"
reservesForeignExchangeLink="https://github.com/CRVCh-16/PC3/raw/refs/heads/main/Reserves%20of%20foreign%20exchange%20and%20gold.csv"


import pandas as pd

education=pd.read_csv(educationExpenditureLink)
electricity=pd.read_csv(electricityLink)
energyConsumption=pd.read_csv(energyConsumptionLink)
reservesForeignExchange=pd.read_csv(reservesForeignExchangeLink)

## Limpieza y formateo

### Task 2

In [2]:
# se eliminan las columnas innecesarias:
electricity=electricity.drop(columns=["slug","ranking"])
education=education.drop(columns=["slug","ranking"])
energyConsumption=energyConsumption.drop(columns=["slug","ranking"])
reservesForeignExchange=reservesForeignExchange.drop(columns=["slug","ranking"])

In [3]:
# se cambian los nombres de las columnas
newNamesElectricity=["Country","Electricity_generated_kW","Year_electricity","Region"]
newNamesEducation=["Country","Education_expenditure_percent_GDP","Year_education","Region"]
newNamesEnergyConsumption=["Country","Energy_consumption_per_capita_BtuPerPerson","Year_energy","Region"]
newNamesReservesForeignExchange=["Country","Reserves_of_foreign_exchange_dollars","Year_reserves","Region"]

electricity.columns=newNamesElectricity
education.columns=newNamesEducation
energyConsumption.columns=newNamesEnergyConsumption
reservesForeignExchange.columns=newNamesReservesForeignExchange

In [4]:
# se elimina cualquier leading o trailing space si lo hay en los nombres de los paises
electricity.iloc[:,0]=electricity["Country"].str.strip().to_list()
education.iloc[:,0]=education["Country"].str.strip().to_list()
energyConsumption.iloc[:,0]=energyConsumption["Country"].str.strip().to_list()
reservesForeignExchange.iloc[:,0]=reservesForeignExchange["Country"].str.strip().to_list()

In [5]:
# hay simbolos raros?
electricity[electricity.Country.str.contains(r'[^\w\s]')]
#No son simbolos raros, por lo que se puede dejar como tal

,Country,Electricity_generated_kW,Year_electricity,Region
9,"Korea, South","151,139,000",2023,East and Southeast Asia
15,Turkey (Turkiye),"106,281,000",2023,Middle East
70,"Korea, North","8,357,000",2023,East and Southeast Asia
106,"Congo, Democratic Republic of the","3,229,000",2023,Africa
116,Cote d'Ivoire,"2,315,000",2023,Africa
136,"Congo, Republic of the","842,000",2023,Africa
147,"Bahamas, The","608,000",2023,Central America and the Caribbean
166,Timor-Leste,"277,000",2023,East and Southeast Asia
178,"Gambia, The","162,000",2023,Africa
202,Guinea-Bissau,"29,000",2023,Africa
207,Falkland Islands (Islas Malvinas),"10,000",2023,South America
209,"Saint Helena, Ascension, and Tristan da Cunha","5,000",2023,Africa

In [6]:
#guardaremos solo los simbolos ASCII
!pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.4.0-py3-none-any.whl.metadata (13 kB)
Downloading Unidecode-1.4.0-py3-none-any.whl (235 kB)
Installing collected packages: unidecode
Successfully installed unidecode-1.4.0

In [7]:
from unidecode import unidecode
electricity['Country']=electricity.Country.apply(unidecode)
education['Country']=education.Country.apply(unidecode)
energyConsumption['Country']=energyConsumption.Country.apply(unidecode)
reservesForeignExchange['Country']=reservesForeignExchange.Country.apply(unidecode)

In [8]:
# convertiremos los nombres de paises en mayusculas para mejor entendimiento
electricity['Country']=electricity.Country.str.upper()
education['Country']=education.Country.str.upper()
energyConsumption['Country']=energyConsumption.Country.str.upper()
reservesForeignExchange['Country']=reservesForeignExchange.Country.str.upper()

#Con esto, ya se tiene limpieado y formateado los nombres de los pa√≠ses

In [9]:
# se crea funcion para eliminar cualquier valor diferente a numero o un punto en un string
import re
charToNum=lambda xString:re.sub("[^0-9.]","",xString)

In [10]:
# se procede con la limpieza y formateo de los valores num√©ricos
#para electricity
electricity.iloc[:,1]=electricity.iloc[:,1].map(charToNum)
electricity['Electricity_generated_kW']=pd.to_numeric(electricity.Electricity_generated_kW)

In [11]:
electricity.info()      # todo bien para electricity

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   211 non-null    object
 1   Electricity_generated_kW  211 non-null    int64
 2   Year_electricity          211 non-null    int64
 3   Region                    211 non-null    object
dtypes: int64(2), object(2)
memory usage: 6.7+ KB

In [12]:
education.info()            # todo bien para education

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country                            197 non-null    object
 1   Education_expenditure_percent_GDP  197 non-null    float64
 2   Year_education                     197 non-null    int64
 3   Region                             197 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.3+ KB

In [13]:
#para energyConsumption
energyConsumption.iloc[:,1]=energyConsumption.iloc[:,1].map(charToNum)
energyConsumption['Energy_consumption_per_capita_BtuPerPerson']=pd.to_numeric(energyConsumption.Energy_consumption_per_capita_BtuPerPerson)

In [14]:
energyConsumption.info()              # todo bien para energy consumption

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 4 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     195 non-null    object
 1   Energy_consumption_per_capita_BtuPerPerson  195 non-null    int64
 2   Year_energy                                 195 non-null    int64
 3   Region                                      195 non-null    object
dtypes: int64(2), object(2)
memory usage: 6.2+ KB

In [15]:
#para reservesForeignExchange
reservesForeignExchange.iloc[:,1]=reservesForeignExchange.iloc[:,1].map(charToNum)
reservesForeignExchange['Reserves_of_foreign_exchange_dollars']=pd.to_numeric(reservesForeignExchange.Reserves_of_foreign_exchange_dollars)

In [16]:
reservesForeignExchange.info()        # todo bien para reservesForeignExchange

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Country                               195 non-null    object
 1   Reserves_of_foreign_exchange_dollars  195 non-null    int64
 2   Year_reserves                         195 non-null    int64
 3   Region                                195 non-null    object
dtypes: int64(2), object(2)
memory usage: 6.2+ KB

In [17]:
# Finalmente, se debe convertir la columna Region en categorical
electricity['Region'] = pd.Categorical(electricity.Region, ordered=False, categories=['East and Southeast Asia', 'North America', 'South Asia',
                                                                                      'Central Asia', 'Europe', 'South America', 'Middle East',
                                                                                      'Australia and Oceania', 'Africa','Central America and the Caribbean'])
education['Region'] = pd.Categorical(education.Region, ordered=False, categories=['East and Southeast Asia', 'North America', 'South Asia',
                                                                                      'Central Asia', 'Europe', 'South America', 'Middle East',
                                                                                      'Australia and Oceania', 'Africa','Central America and the Caribbean'])
energyConsumption['Region'] = pd.Categorical(energyConsumption.Region, ordered=False, categories=['East and Southeast Asia', 'North America', 'South Asia',
                                                                                      'Central Asia', 'Europe', 'South America', 'Middle East',
                                                                                      'Australia and Oceania', 'Africa','Central America and the Caribbean'])
reservesForeignExchange['Region'] = pd.Categorical(reservesForeignExchange.Region, ordered=False, categories=['East and Southeast Asia', 'North America', 'South Asia',
                                                                                      'Central Asia', 'Europe', 'South America', 'Middle East',
                                                                                      'Australia and Oceania', 'Africa','Central America and the Caribbean'])

In [18]:
#Se verifica el cambio en un DF
electricity.info()        #todo correcto

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   211 non-null    object
 1   Electricity_generated_kW  211 non-null    int64
 2   Year_electricity          211 non-null    int64
 3   Region                    211 non-null    category
dtypes: category(1), int64(2), object(1)
memory usage: 5.7+ KB

## Integraci√≥n: concatenar y merge

Combine those dataframes into one. Decision: what to do to keep as many cases as possible.

### Task 3

In [19]:
# se indexan las columnas que ser√°n comunes para el nuevo dataframe concatenado.
electricityMerge=electricity.set_index(["Country","Region"])
educationMerge=education.set_index(["Country","Region"])
energyMerge=energyConsumption.set_index(["Country","Region"])
reservesMerge=reservesForeignExchange.set_index(["Country","Region"])

In [20]:
electricityMerge      #ejemplo de dataframe con doble indice

,,Electricity_generated_kW,Year_electricity
Country,Region,,
CHINA,East and Southeast Asia,2949000000,2023
UNITED STATES,North America,1235000000,2023
INDIA,South Asia,499136000,2023
JAPAN,East and Southeast Asia,361617000,2023
RUSSIA,Central Asia,301926000,2023
...,...,...,...
KIRIBATI,Australia and Oceania,12000,2023
FALKLAND ISLANDS (ISLAS MALVINAS),South America,10000,2023
MONTSERRAT,Central America and the Caribbean,6000,2023
"SAINT HELENA, ASCENSION, AND TRISTAN DA CUNHA",Africa,5000,2023
NIUE,Australia and Oceania,3000,2023

In [21]:
# aqui se hace la concatenzaci√≥n horizontal
DFsConcatHor=pd.concat([electricityMerge,educationMerge,energyMerge,reservesMerge],axis=1)

In [22]:
#aqui se decide eliminar la variable de Years para cada dataframe original, pues al final se obtendr√°n valores como min, max y mean,
#los cuales son independientes de los a√±os, sino de la variable en estudio, por ejemplo, electricity_generated_kW
DFsConcatHor.drop(columns=['Year_electricity','Year_education','Year_energy','Year_reserves'],inplace=True)

In [23]:
DFsConcatHor    #se muestra el resultado, pero aun falta resetear el indice

,,Electricity_generated_kW,Education_expenditure_percent_GDP,Energy_consumption_per_capita_BtuPerPerson,Reserves_of_foreign_exchange_dollars
Country,Region,,,,
CHINA,East and Southeast Asia,2.949000e+09,3.6,113805000.0,3.265000e+12
UNITED STATES,North America,1.235000e+09,6.1,278474000.0,2.277600e+11
INDIA,South Asia,4.991360e+08,4.5,25179000.0,5.695440e+11
JAPAN,East and Southeast Asia,3.616170e+08,3.4,129504000.0,1.160000e+12
RUSSIA,Central Asia,3.019260e+08,3.7,224858000.0,5.972170e+11
...,...,...,...,...,...
ANGUILLA,Central America and the Caribbean,NaN,4.0,NaN,7.638000e+07
SAN MARINO,Europe,NaN,3.4,NaN,8.360880e+08
ANDORRA,Europe,NaN,2.9,NaN,NaN
LIECHTENSTEIN,Europe,NaN,2.6,NaN,NaN
MONACO,Europe,NaN,1.2,NaN,NaN

In [24]:
# con este codigo se procede a resetear las columnas para que Country y Region sean pd.Series
DFsConcatHor.reset_index(inplace=True)

In [25]:
DFsConcatHor      #el resultado es el siguiente, pero todav√≠a se observ que existen missing values, los cuales podr√≠an afectar las
                  #estadisticas, por lo que se decide borrarlos

,Country,Region,Electricity_generated_kW,Education_expenditure_percent_GDP,Energy_consumption_per_capita_BtuPerPerson,Reserves_of_foreign_exchange_dollars
0,CHINA,East and Southeast Asia,2.949000e+09,3.6,113805000.0,3.265000e+12
1,UNITED STATES,North America,1.235000e+09,6.1,278474000.0,2.277600e+11
2,INDIA,South Asia,4.991360e+08,4.5,25179000.0,5.695440e+11
3,JAPAN,East and Southeast Asia,3.616170e+08,3.4,129504000.0,1.160000e+12
4,RUSSIA,Central Asia,3.019260e+08,3.7,224858000.0,5.972170e+11
...,...,...,...,...,...,...
215,ANGUILLA,Central America and the Caribbean,NaN,4.0,NaN,7.638000e+07
216,SAN MARINO,Europe,NaN,3.4,NaN,8.360880e+08
217,ANDORRA,Europe,NaN,2.9,NaN,NaN
218,LIECHTENSTEIN,Europe,NaN,2.6,NaN,NaN
219,MONACO,Europe,NaN,1.2,NaN,NaN

In [26]:
#comndo para borrar cualquier fila en el que haya alg√∫n missing value
final1=DFsConcatHor[~DFsConcatHor.isnull().any(axis=1)]                #hay 220-176 filas en las que hay algun valor nulo

In [27]:
final1.reset_index(drop=True,inplace=True)          # codigo para resetear el index que se malogr√≥ por borrar las filas

In [28]:
final1            #este es el resultado final de haber hecho el merging de los dataframes

,Country,Region,Electricity_generated_kW,Education_expenditure_percent_GDP,Energy_consumption_per_capita_BtuPerPerson,Reserves_of_foreign_exchange_dollars
0,CHINA,East and Southeast Asia,2.949000e+09,3.6,113805000.0,3.265000e+12
1,UNITED STATES,North America,1.235000e+09,6.1,278474000.0,2.277600e+11
2,INDIA,South Asia,4.991360e+08,4.5,25179000.0,5.695440e+11
3,JAPAN,East and Southeast Asia,3.616170e+08,3.4,129504000.0,1.160000e+12
4,RUSSIA,Central Asia,3.019260e+08,3.7,224858000.0,5.972170e+11
...,...,...,...,...,...,...
171,SOLOMON ISLANDS,Australia and Oceania,3.700000e+04,12.8,5655000.0,6.882200e+08
172,TONGA,Australia and Oceania,3.400000e+04,6.6,23272000.0,3.965300e+08
173,COMOROS,Africa,3.200000e+04,2.6,7139000.0,3.224360e+08
174,SAO TOME AND PRINCIPE,Africa,2.900000e+04,5.0,8875000.0,4.624700e+07
175,GUINEA-BISSAU,Africa,2.900000e+04,2.7,2351000.0,3.564000e+08

## Transformaci√≥n

4. Report the average, min and max for the variables (reserves, energy, electricity. education) by region.
5. Create new columns for each variable , so that they are in 5 intervals. Choose the same methods for the four variables. Two decisiones here.

6. Save the final result: country, region and the eight variables.

### Task 4

In [29]:
#codigo para agrupar a las columnas con datos numericos segun Region y se obtiene valores estadisticos como min, max y mean
varsAggregated=['Electricity_generated_kW','Education_expenditure_percent_GDP','Energy_consumption_per_capita_BtuPerPerson','Reserves_of_foreign_exchange_dollars']
functionForVars=['mean','min','max']
final1Stats=final1.groupby('Region')[varsAggregated].agg(functionForVars)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_17760\3809019511.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  final1Stats=final1.groupby('Region')[varsAggregated].agg(functionForVars)

In [30]:
final1Stats.columns.to_flat_index()   #se procede a cambiar de multi-indexing a flat-index para columnas

Index([                  ('Electricity_generated_kW', 'mean'),
                          ('Electricity_generated_kW', 'min'),
                          ('Electricity_generated_kW', 'max'),
                ('Education_expenditure_percent_GDP', 'mean'),
                 ('Education_expenditure_percent_GDP', 'min'),
                 ('Education_expenditure_percent_GDP', 'max'),
       ('Energy_consumption_per_capita_BtuPerPerson', 'mean'),
        ('Energy_consumption_per_capita_BtuPerPerson', 'min'),
        ('Energy_consumption_per_capita_BtuPerPerson', 'max'),
             ('Reserves_of_foreign_exchange_dollars', 'mean'),
              ('Reserves_of_foreign_exchange_dollars', 'min'),
              ('Reserves_of_foreign_exchange_dollars', 'max')],
      dtype='object')

In [31]:
# se cambiar√° del multi indexing a index normal las columnas se resetearan a 1 solo index

final1Stats.columns=['_'.join(col) for col in final1Stats.columns.to_flat_index()]

In [32]:
final1Stats.reset_index(drop=False, inplace=True)

In [33]:
final1Stats       #Aqui se obtiene el resultaado pedido por el Task 4

,Region,Electricity_generated_kW_mean,Electricity_generated_kW_min,Electricity_generated_kW_max,Education_expenditure_percent_GDP_mean,Education_expenditure_percent_GDP_min,Education_expenditure_percent_GDP_max,Energy_consumption_per_capita_BtuPerPerson_mean,Energy_consumption_per_capita_BtuPerPerson_min,Energy_consumption_per_capita_BtuPerPerson_max,Reserves_of_foreign_exchange_dollars_mean,Reserves_of_foreign_exchange_dollars_min,Reserves_of_foreign_exchange_dollars_max
0,East and Southeast Asia,2.108446e+08,277000.0,2.949000e+09,3.633333,1.4,6.3,1.186874e+08,6825000.0,643259000.0,3.536142e+11,7.819950e+08,3.265000e+12
1,North America,5.008580e+08,105586000.0,1.235000e+09,5.200000,4.3,6.1,2.158707e+08,57539000.0,311599000.0,1.890850e+11,1.175510e+11,2.277600e+11
2,South Asia,7.211612e+07,432000.0,4.991360e+08,3.850000,1.9,7.0,2.350638e+07,3380000.0,64082000.0,7.907593e+10,6.732030e+08,5.695440e+11
3,Central Asia,4.239578e+07,3944000.0,3.019260e+08,4.333333,2.8,6.2,1.039161e+08,16192000.0,261142000.0,7.555822e+10,3.237000e+09,5.972170e+11
4,Europe,4.027509e+07,779000.0,2.756580e+08,5.151429,3.1,7.2,1.131422e+08,27407000.0,234698000.0,6.415875e+10,9.212690e+08,8.221300e+11
5,South America,3.550408e+07,259000.0,2.402510e+08,4.808333,1.3,9.8,4.641467e+07,25733000.0,78496000.0,4.748692e+10,8.710000e+07,3.188570e+11
6,Middle East,3.381729e+07,352000.0,1.196200e+08,4.528571,1.7,7.8,2.406509e+08,14991000.0,814308000.0,9.432479e+10,1.328000e+09,4.367690e+11
7,Australia and Oceania,1.706100e+07,34000.0,1.081930e+08,6.314286,2.2,12.8,6.221671e+07,5655000.0,223158000.0,1.147904e+10,3.965300e+08,5.445500e+10
8,Africa,4.619820e+06,29000.0,6.598900e+07,4.268000,0.3,9.6,1.412284e+07,649000.0,98847000.0,6.860587e+09,3.045000e+07,6.844800e+10
9,Central America and the Caribbean,1.580500e+06,41000.0,6.581000e+06,4.555000,1.4,8.7,5.587300e+07,3486000.0,153952000.0,4.561870e+09,1.559710e+08,2.383400e+10

### Task 5

In [34]:
#ahora se procede con el diagrama de caja para ver la distribuci√≥n de los datos en cada columna.
#Esto se hace para observar si existen valores at√≠picos

%matplotlib inline

vars=['Electricity_generated_kW','Education_expenditure_percent_GDP', 'Energy_consumption_per_capita_BtuPerPerson', 'Reserves_of_foreign_exchange_dollars']
final1.loc[:,vars].boxplot(vert=False)

Matplotlib is building the font cache; this may take a moment.

In [35]:
# ante la presencia de datos at√≠picos, se procede a hacer el boxplot con robustScaler, por lo que los datos cambian
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler(unit_variance=True,with_centering=False)
robScaled_data = scaler.fit_transform(final1.loc[:,vars])

pd.DataFrame(robScaled_data,columns=vars).boxplot(vert=False)

In [36]:
#robustScaler cambia los datos, por lo que los nuevos datos ser√≠an:

vars_rob_names=[v+'_rob' for v in vars] # los nuevos nombres

final1_robust=pd.DataFrame(robScaled_data,columns=vars_rob_names)
final1_copy=final1.copy()
final1_copy[vars_rob_names]=robScaled_data

In [37]:
final1_robust #los valores modificados por la tecnica Robust

,Electricity_generated_kW_rob,Education_expenditure_percent_GDP_rob,Energy_consumption_per_capita_BtuPerPerson_rob,Reserves_of_foreign_exchange_dollars_rob
0,180.730098,2.088742,1.694928,117.004970
1,75.687240,3.539258,4.147386,8.162037
2,30.589657,2.610928,0.374997,20.410254
3,22.161775,1.972701,1.928737,41.569913
4,18.503600,2.146763,3.348869,21.401947
...,...,...,...,...
171,0.002268,7.426640,0.084221,0.024663
172,0.002084,3.829361,0.346596,0.014210
173,0.001961,1.508536,0.106323,0.011555
174,0.001777,2.901031,0.132178,0.001657
175,0.001777,1.566557,0.035014,0.012772

In [38]:
# DISCRETIZACION
!pip install mapclassify

Requirement already satisfied: mapclassify in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (2.8.1)
Requirement already satisfied: networkx>=2.7 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from mapclassify) (3.4.2)
Requirement already satisfied: numpy>=1.23 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from mapclassify) (2.0.1)
Requirement already satisfied: pandas!=1.5.0,>=1.4 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from mapclassify) (2.2.3)
Requirement already satisfied: scikit-learn>=1.0 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from mapclassify) (1.6.1)
Requirement already satisfied: scipy>=1.8 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from mapclassify) (1.15.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2023.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from scikit-learn>=1.0->mapclassify) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from scikit-learn>=1.0->mapclassify) (3.6.0)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from python-dateutil>=2.8.2->pandas!=1.5.0,>=1.4->mapclassify) (1.16.0)

In [39]:
import mapclassify
import numpy as np
np.random.seed(12345)

In [40]:
# Para electricity

theVar=final1.Electricity_generated_kW
K=5

#se prueba con cada tecnica de discretizacion ense√±ada
ei5 = mapclassify.EqualInterval(theVar, k=K)

msd = mapclassify.StdMean(theVar)

q5=mapclassify.Quantiles(theVar,k=K)

mb5 = mapclassify.MaximumBreaks(theVar, k=K)

ht = mapclassify.HeadTailBreaks(theVar)

fj5 = mapclassify.FisherJenks(theVar, k=K)

jc5 = mapclassify.JenksCaspall(theVar, k=K)

mp5 = mapclassify.MaxP(theVar, k=K)

C:\Users\ADMIN\anaconda3\envs\dataespacial_31111\Lib\site-packages\IPython\core\interactiveshell.py:3577: UserWarning: Numba not installed. Using slow pure python version.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [41]:
class5 = q5, ei5,msd, ht, mb5, fj5, jc5, mp5
fits = np.array([ c.adcm for c in class5])
adcms = pd.DataFrame(fits)
adcms['classifier'] = [c.name for c in class5]
adcms.columns = ['ADCM', 'Classifier']
adcms.sort_values(by='ADCM', ascending=False).plot(kind='bar', x='Classifier', y='ADCM', legend=False);

In [42]:
# se usar√° Fisherjenks para cada variable porque produce el ADCM menor
FJelectricity=mapclassify.FisherJenks(final1.Electricity_generated_kW, k=5)
FJeducation=mapclassify.FisherJenks(final1.Education_expenditure_percent_GDP, k=5)
FJenergy=mapclassify.FisherJenks(final1.Energy_consumption_per_capita_BtuPerPerson, k=5)
FJreserves=mapclassify.FisherJenks(final1.Reserves_of_foreign_exchange_dollars, k=5)

C:\Users\ADMIN\anaconda3\envs\dataespacial_31111\Lib\site-packages\IPython\core\interactiveshell.py:3577: UserWarning: Numba not installed. Using slow pure python version.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [43]:
FJelectricity     #se obtienen los intervalos para electricity mediante ese m√©todo

FisherJenks

           Interval              Count
--------------------------------------
[     29000.00,   47631000.00] |   149
(  47631000.00,  161988000.00] |    20
( 161988000.00,  499136000.00] |     5
( 499136000.00, 1235000000.00] |     1
(1235000000.00, 2949000000.00] |     1

In [44]:
FJeducation       #se obtienen los intervalos para education mediante ese m√©todo

FisherJenks

   Interval      Count
----------------------
[ 0.30,  2.70] |    26
( 2.70,  4.10] |    52
( 4.10,  5.60] |    55
( 5.60,  7.80] |    36
( 7.80, 12.80] |     7

In [45]:
FJenergy          #se obtienen los intervalos para energy mediante ese m√©todo

FisherJenks

          Interval             Count
------------------------------------
[   649000.00,  50886000.00] |    95
( 50886000.00, 143149000.00] |    58
(143149000.00, 278474000.00] |    14
(278474000.00, 450432000.00] |     6
(450432000.00, 814308000.00] |     3

In [46]:
FJreserves              #se obtienen los intervalos para reserves mediante ese m√©todo

FisherJenks

              Interval                 Count
--------------------------------------------
[     30450000.00,   68448000000.00] |   143
(  68448000000.00,  231690000000.00] |    23
( 231690000000.00,  597217000000.00] |     7
( 597217000000.00, 1160000000000.00] |     2
(1160000000000.00, 3265000000000.00] |     1

In [48]:
#se procede a guardar el dataframe con las 4 variables:
final1.to_csv("final1_4variables.csv",index=False)
final1_copy.to_csv("final1_copy_8variables.csv",index=False)